* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
nav a {
    font-weight: 600;
    color: #059669;
    text-decoration: none;
    font-size: 18px;
}
#filter .btn {
    font-size: 14px;
    font-weight: 500;
}
.tablinks {
    background-color: #e2e8f0;
    color: black;
}
.tablinks:hover {
    background-color: #cbd5e1;
}
.tablinks.active {
    background-color: #059669;
    color: white;
}
.tablinks.active:hover {
    background-color: #065f46;
    color: white;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}
.card {
    font-size: 14px;
}
.card h3 {
    font-size: 16px;
    font-weight: 700;
}
.card .btn {
    font-size: 14px;
}
#tabcoffe {
    display: none;
}

.card-img-top {
    height: 200px;
}
.form-select {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .card-img-top {
        height: 100px;
    }
}
