* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* nav {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
} */

#filter .btn {
    font-size: 14px;
    font-weight: 500;
}

.btn {
    background-color: #007200;
    color: white;
}

.tablinks {
    background-color: #e2e8f0;
    color: black;
}
.tablinks:hover {
    background-color: #cbd5e1;
}
/* .tablinks.active {
    background-color: #007200;
    color: white;
}
.tablinks.active:hover {
    background-color: #065f46;
    color: white;
} */

h2 {
    font-size: 18px;
    font-weight: bold;
}
.card {
    font-size: 14px;
}
.card h3 {
    font-size: 16px;
    font-weight: 700;
}
.card .btn {
    font-size: 14px;
}
#tabcoffe {
    display: none;
}

.card-img-top {
    height: 200px;
}
.form-select {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .card-img-top {
        height: 100px;
    }
}

#jumlahMenu{
    border-right : 1px solid #007200;
    border-left : 1px solid #007200;
}

@media screen and (max-width: 575px) {
    #jumlahMenu {
        border-top: 1px solid #007200;
        border-bottom: 1px solid #007200;
        border-right : 0;
        border-left : 0;
    }
}
/* .ikon {
    color: #007200;
    margin-top: 0.1rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    float: left;
} */

.subIkon {
    color: #007200;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}

/* li {
    float: left;
    list-style-type: none;
} */

a {
    /* display: inline;
    text-align: center;
    padding: 10px 15px; */
    text-decoration: none;
    color: #007200;
    /* font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal; */
}

/* svg{
    margin-top:7px;
    margin-left: 5%;
    width: 25px;
    height: 50px;
    
} */

.line{
    float:right;
    margin-top:5px;
    width: 100%;
    height: 0.1rem;
    background-color: #007200;
}

.user{
    padding: 20px 5px 20px 10px;
    color: #007200;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal; 
}


/* .cart{
    padding: 0px 1rem 0px 3rem;
    margin-right: 1rem;
} */

.hoverG > a:hover{
    background-color: #67BC67;
    color: white;
    border-radius: 10px;

}

.hoverU > a:hover{
    text-decoration: underline;

}

.actives{
    background-color: #007200;
    color: white;
    border-radius: 10px;
}


.preAbout{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    color: black ;
    margin-bottom: 5rem;
}

.preBook{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 2fr;
    margin-top:5rem;
}

.descAbout{
    margin-top: 3rem;
}

.italic{
    font-family: "Lato", sans-serif;
    font-style: italic;
    margin-bottom: 1.5rem;
    color: #456658;
}

.judul{
    font-family: "Poppins", sans-serif;
    font-size: 68px;
    line-height: 1.1;
}

.subjudul{
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    line-height: 1.1;
}

.isi{
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    word-spacing: 5px;
}

.isiWhite{
    
    font-family: "Poppins", sans-serif;
    font-style: normal;
    word-spacing: 5px;
    color: white;
}

.kotak{
    position: static;
    width:25rem;
    height: 25rem;
    background-color: #007200;
    margin-top: 10rem;
}

.gambar1{
    position: absolute;
    top: 0rem;
    left: 10rem;
}

.gambar2{
    position: relative;
}

.rectangle{
    position: absolute;
    top:22rem;
    left: 2rem;
}

.kotak1{
    position: relative;
}

.kotak2{
    background-color: #007200;
    width: 30rem;
    height: 30rem;
    border-radius:10px;
}

.kotak3{
    text-align: left;
    background-color: #007200;
    border-radius:10px;
    padding: 1rem;
}

/* .flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */



.card1{
    display: flex;
    padding:2rem;
    gap: 10px;
    margin-top: 2rem;
    background-color: #3C5049;
    justify-content: center;
    align-content: center;
    border-radius:10px;
}

.bold{
    font-weight: bold;
}

.harga{
    color: #6c757d;
}

footer{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1.8fr 0.2fr 0.5fr 1.5fr;
    gap: 10px;
    background-color :#efefef;
}

.ml-15{
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    word-spacing: 5px;
    text-align :justify;
    line-height: 2.4;
}

.mb-1{
    margin-bottom:0.5rem
}

.logo{
    padding:0px;
    margin-right: 10px;
}

.hoverU{
    font-family: "Poppins", sans-serif;
}

.rectangle1{
    background-color: #007200;
    width: 100px;
    height: 5px;
}

h6{
    color: #007200;
    font-family: "Poppins", sans-serif;
}

.pl-60{
    padding-left: 10rem;
}

.pr-60{
    padding-right: 10rem;
}

.inlineFlex{
    display: inline-flex;
}

.image2{
    width:25rem;
    height:25rem;
    border-style: solid;
    border-width: 1rem;
    border-color: #efefef;
}

.poppins{
    font-family: "Poppins", sans-serif;
}

.borderGreen{
    border-style: solid;
    border-color: #007200;
    border-width: 1rem;
}

.longLine{
    background-color: black;
    margin-left:2rem;
    width: 90%;
    height: 0.5rem;
}

